.mainContent {
	margin-top: 15rem;
}

.Character {
	display: none;
}

.characterPortrait {
	/* display: none; */
	width: 50rem;
	height: 35rem;
	margin-top: -15rem;
	margin-left: -8rem; /*initial position*/
	position: relative;
}

/* default oprion */

#Jean,
#Albedo {
	display: block;
}

.characterName {
	background-color: black;
	color: white;
	border-top: none;
	text-align: center;
	height: 2.5rem;
	margin-bottom: 0;
	font-size: 0.9rem;
}

.characterName:hover,
.card-img-top:hover {
	cursor: pointer;
}

.card {
	width: 100px;
}

.characterInfo {
	background-color: #1d1d23;
	width: 450px;
	height: 250px;
	overflow: auto;
	opacity: 0.8;
	padding: 1rem 2rem;
	position: relative;
	z-index: 1;
}

.characterInfo a:hover {
	text-decoration: underline;
}

.characterList {
	min-width: 1250px;
	margin-left: 1rem;
	margin-top: 0rem;
}

.characterList li {
	display: inline-block;
	margin-right: 1rem;
}

.headerName {
	font-size: 2.5rem;
}

.bi {
	color: white;
}

.bi:hover {
	color: #97beeb;
}

.dropdown-menu {
	opacity: 0.9;
}
