* {
	box-sizing: border-box;
}

body {
	background-image: url("backgroundImage/Mona.jpg");
	background-repeat: null;
	background-attachment: fixed; /*set the property to be fixed,so the image always cover the entire page*/

	/*shorter version of code above down here:
  /*background: url('backgroundImage/Mona.jpg') fixed 100% 100% center;*/

	/* background-size: 100% 100%; */

	font-family: "Times New Roman", Times, serif; /*this is the default one*/
	font-family: "Arial", Helvetica, sans-serif; /*font#1,backup font,generic font family*/

	font-size: 100%;
	color: aliceblue;
}

.card_container {
	display: none;
}

.image_container {
	max-height: 130px;
	min-height: 130px;
	min-width: 80px;
	max-width: 80px;
	width: 10%;
	display: none;
}

.nav {
	min-width: 900px;
}

.dropdown-toggle {
	color: aliceblue;
}

.dropdown-toggle:hover {
	color: rgba(240, 248, 255, 0.767);
	cursor: pointer;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	background-color: #acc8e5;
}

.wishingPool {
	background-color: #acc8e5;
	width: 800px;
	display: flex;
	flex-wrap: wrap;
}

.page_title {
	font-size: 2rem;
}
.wish_info {
	font-size: 1.5rem;
}

.image1 {
	background-color: #acc8e5;
}

@media only screen and (max-width: 820px) {
	.wishingPool {
		width: 560px;
	}
}
@media only screen and (max-width: 650px) {
	.wishingPool {
		width: 480px;
	}
}

@media only screen and (min-width: 650px) {
	.page_title {
		font-size: 2.5rem;
	}
	.wish_info {
		font-size: 2rem;
	}
}

@media only screen and (min-width: 820px) {
	.page_title {
		font-size: 3rem;
	}
	.wish_info {
		font-size: 2.5rem;
	}
}
