/* universal setting */
:root {
	--articleBackGroundColor: #12110f;
	--title-color: #9cc5d0;
	--text-color: #a99877;
	--title-hover-color: white;
	--image-hover-color: #ad9090;
	--portal-text-color: #a35c0f;
	--CityHeaderBackGroundColor: goldenrod;
	--CityCardBackGroundColor: black;
}

body {
	background-color: black;
	width: 100%;
	max-width: 1850px;
}

header {
	background-image: url("backgroundImage/backgroundImage5.jpg");
	width: 100%;
	height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}

.navigationMenu {
	width: 100%;
}

.nav-link {
	color: var(--text-color);
}

.navbar-collapse {
	/* margin-left: 4.5rem; */
	text-align: left;
}

.MainContent {
	background-color: var(--articleBackGroundColor);
	color: var(--text-color);
	margin-left: 10rem;
	margin-right: 10rem;
	margin-top: -8px;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: 50%; */
	max-width: 400px;
	min-width: 200px;
	height: auto;
	position: relative;
	top: 2rem;
	z-index: 2;
}

.nav-tabs {
	background-color: #2c2722;
	color: var(--text-color);
	text-align: center;
}

.dropdown-toggle:hover {
	cursor: pointer;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	background-color: #acc8e5;
}

.dropdown-menu {
	opacity: 0.9;
}

/* region setting */
.articleImage {
	aspect-ratio: 16/9;
	height: 20vh;
	margin-right: 1rem;
	border: #2c2722 1px solid;
}

.article {
	font-size: 0.8rem;
}

.card-header {
	background-color: var(--CityHeaderBackGroundColor);
	color: var(--CityCardBackGroundColor);
}

.CityDescription {
	margin-top: 2rem;
}

.gallery {
	width: 900px;
}

.card-body p {
	font-size: 0.7rem;
}

.imgDescription {
	border: var(--articleBackGroundColor) solid 1px;
	margin-top: 5rem;
	margin-left: 5rem;
}

.subArea {
	border: var(--articleBackGroundColor) solid 1px;
	display: flex;
	/* overflow: auto; */
}

.card {
	background-color: rgb(43, 49, 56);
	margin-left: -1rem;
	margin-top: 1rem;
}

/* customize class */
.titleColor {
	color: var(--title-color);
}

/*Large devices (desktops, 1798px and down)*/
@media (max-width: 1798px) {
	.card {
		margin-left: 12rem;
	}
	.CityDescription {
		width: 60%;
	}
}

/*Medium devices (desktops, 1565px and down)*/
@media (max-width: 1565px) {
	.card {
		margin-left: 8rem;
	}
	.CityDescription {
		width: 60%;
	}
	.subArea {
		display: block;
		width: 60%;
		/* margin-bottom: 2rem; */
	}
}

/*Medium devices (desktops, 1156px and down)*/
@media (max-width: 1156px) {
	.card {
		margin-left: 3rem;
	}
	.CityDescription {
		width: 60%;
	}
}

/*Medium devices (desktops, 950px and down)*/
@media (max-width: 950px) {
	.card {
		margin-left: 3rem;
	}
	.CityDescription {
		width: 60%;
	}
}

/*Medium devices (desktops, 900px and down)*/
@media (max-width: 900px) {
	.card {
		margin-left: 0rem;
	}
}

/*Small devices (desktops, 576px and down)*/
@media (max-width: 576px) {
	.CityDescription {
		width: 90%;
	}
	.subArea {
		display: block;
		width: 100%;
		/* margin-bottom: 8rem; */
	}
	.article {
		width: 100%;
	}
	.contents {
		margin-top: 2rem;
	}
	.carousel-item img {
		width: 1000px;
	}
}
