#userInputResin {
	width: 2.2rem;
}

#userInputCurrency {
	width: 2.8rem;
}

#textbox1,
#textbox2 {
	font-size: 0.8rem;
}

#tracker {
	margin-top: 6rem;
}

.dropdown-menu {
	background-color: rgb(174, 201, 229);
	opacity: 0.9;
}
